/* Remove Default Space */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;

    font-family Arial, sans-serif;
}

/* Body Style */
body{
    
    background: #090808;
    color: rgb(144, 142, 141);
}

/* Header */
header{
    background: rgb(38, 48, 35);
    padding: 50px;
}

/* Navigation */
nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

/* Logo */
.logo{
    color: rgb(32, 237, 237);
    font-family: Arial,Arial, sans-serif;
}

/* Menu */
nav ul{
    display: flex;
    list-style: none;
}

/* Menu Items */
nav ul li{
    margin-left: 10px;
    box-sizing: border-box;
    border-style: ridge;
    border-width: 5px;
    border-radius: 5px;
    border-color: aqua;
}

/* Menu Links */
nav ul li a{
    color: white;
    text-decoration: none;
    transition: 0.3s;
}

/* Hover Effect */
nav ul li a:hover{
    color: cyan;
}

/* Home Section */
.home{
    display: flex;
    justify-content: space-around;
    align-items: center;
    min-height: 90vh;
    padding: 50px;
}

/* Home Text */
.home-text h1{
    font-size: 40px;
    color: rgb(58, 206, 239);
}

.home-text h3{
    margin: 10px 0;
}

/* Paragraph */
.home-text p{
    margin: 20px 0;
    line-height: 1.6;
}

/* Button */
.btn{
    display: inline-block;
    padding: 12px 25px;
    background: cyan;
    color: black;
    text-decoration: none;
    border-radius: 5px;
    font-weight: bold;
}

/* Profile Image */
.home-image img{
    width: 300px;
    border-radius: 50%;
    border: 5px solid cyan;
}

/* Sections */
section{
    padding: 80px 10%;
}

/* Section Titles */
section h2{
    text-align: center;
    margin-bottom: 30px;
    color: cyan;
}

/* About */
.about p{
    box-sizing: border-box;
    border-style: double;
    border-color: #4d0707;
    text-align: center;
    line-height: 1.8;
}

/* Skills */
.skill-box{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 20px;
}

/* Skill Card */
.skill{
    background: #5205056a;
    padding: 20px 40px;
    border-radius: 10px;
    border-style: groove;
    transition: 0.3s;
}

/* Hover */
.skill:hover{
    background: cyan;
    color: black;
}

/* Projects */
.projects{
    text-align: center;
}

/* Project Card */
.project-card{
    background: #4d0707;
    padding: 20px;
    margin: 20px auto;
    border-radius: 10px;
    border-style:inset;
    width: 70%;
}
/* Contact */
.contact{
    text-align: center;
}
/* Responsive Design */
@media(max-width: 768px){

    .home{
        flex-direction: column;
        text-align: center;
    }

    nav{
        flex-direction: column;
    }

    nav ul{
        margin-top: 10px;
    }

    .home-image img{
        margin-top: 30px;
        width: 220px;
    }
}
